
* { box-sizing: border-box }
.center { text-align: center }


@keyframes moveLeft {
  from {
    transform: translate(-100px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    transform: translate(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

/* ==================================================================== Intro page styles */
@keyframes spin {
  from { transform: translate(-50%) scale(.8) rotate(0deg) } 
  to { transform: translate(-50%) scale(.8) rotate(360deg) }
} 

@keyframes spin2 {
  from { transform: translate(-50%) rotate(0deg) }
  to { transform: translate(-50%) rotate(-360deg) }
} 

@keyframes spin3 {
  from { transform: translate(-50%) scale(1.2) rotate(0deg) }
  to { transform: translate(-50%) scale(1.2) rotate(360deg) }
} 

#introContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( -50deg, rgb(94, 0, 131), rgb(0, 0, 0));
  z-index: 10000;
}


#introButton {
  margin-top: 50px;
  background: none;
  border-style: none;
  color: white;
  transform: translateY(-50%);
  font-family: 'Montserrat Alternates', sans-serif;
  animation: appear 2s;
}


#animContainer {
  margin-top: 70px;
  position: relative;
  height: 100px;
  z-index: 1500;
}

#square1,
#square2,
#square3 {
  left: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  border: solid white 1px;
  animation: spin 3s ease infinite, moveUp 1s;
  border-radius: 30px;
} 

#square2 { animation: spin2 6s ease infinite, moveRight 1s }
#square3 { animation: spin3 9s ease infinite, moveLeft 1s }

#backgroundStyle1 {
  position: fixed;
  top: 0;
  right: 0;
  width: 60%;
  height: 40%;
  border-bottom-left-radius: 200px;
  background-color: rgb(109, 0, 76);
  z-index: 0;
}

#backgroundStyle2 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  background-color: rgb(102, 2, 168);
  border-top-right-radius: 200px;
  z-index: 0;
}

#introName {
  color: aliceblue;
  font-family: 'Jura',sans-serif;
  margin-top: 30vh;
  margin-bottom: 10vh;
  z-index: 1500;
}

/* ==================================================================== Nav styles */
#mobileNavIcon {
  position: absolute;
  z-index: 3000;
  width: 30px;
  top: 15px;
  right: 15px;
  transition: all .3s;
}

#compassIcnBG { display: none }

#mapIcn {
  display: none;
}

#expandedNav {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 4000;
}

#mobileBackground {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(30px);
  background-repeat: no-repeat;
  padding-top: 10vh;
}

#navX, 
.photoX {
  background-color: rgb(0, 255, 136);
  width: 50px;
  text-align: center;
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);  
}

.photoX {
  top: 90%;
  color: black;
}

#homeNav,
#projectNav,
#contactNav,
#galleryNav,
#Nav {
  margin: 0;
  text-align: center;
  color: whitesmoke;
  transition: all .3s;
  font-family: 'Jura', sans-serif;
  text-decoration: none;
}

#homeNav:hover,
#projectNav:hover,
#contactNav:hover,
#galleryNav:hover,
#resumeNav:hover { color: rgb(225, 0, 255) }

.titleName {
  padding: 10px;
  top: 0px;
  color: aliceblue;
  position: absolute;
  width: 100%;
  background: linear-gradient(to bottom,  rgb(0, 0, 0), #0000 );
  z-index: 3000;
  font-size: .6rem;
}

.titleName h2,
.titleName h4 {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.titleName h4 {
  letter-spacing: 11px;
  /* letter-spacing: 18px; */
  font-weight: 400;
}

/* ==================================================================== Header styles */
#header,
#aboutHome,
#aboutHomeLG,
.homeLeftCard,
.homeRightCard {
  position: relative;
  display: block;
  height: 40vh;
  overflow: hidden;
  background: linear-gradient(-70deg, rgba(0, 82, 150, 0.9), rgba(225, 0, 255, 0.4));
}

#header {
  height: 38vh;
}

#aboutHome {
  padding-bottom: 330px;
}

#aboutHomeLG {
  display: none;
  line-height: 2;
}

#header img,
#aboutHome img,
#aboutHomeLG img {
  width: 140%;
  height: auto;
  transform: translate(-120px);
  position: relative;
  z-index: -1;
}

#headerText,
#aboutText {
  position: absolute;
  padding: 10px;
  top: 25%;
  left: 30%;
  width: 70%;
  color: whitesmoke;
  border-radius: 25px;
  animation: moveLeft ease .7s;
  font-size: .8rem

}

#aboutHome img {
  height: 400px;
}

#aboutText {
  top: 10px;
  left: 50%;
  transform: translate(-50%);
  width: 75%;
}

#aboutText h1 {
  text-align: center;
  color: rgb(120, 245, 187);
  font-family: 'Jura', sans-serif;
}

/* ==================================================================== Card styles */
#projectHomeLarge {
  display: none;
  width: 70%;
  margin: auto;
}

#projectHomeText,
#galleryHomeText,
#contactHomeText {
  display: none;
  z-index: 3000;
  color: white;
  width: 70%;
  transform: translateY(90px) translateX(80px);
}

.homeLeftCard,
.homeRightCard {
  margin: 30px 0px;
  border-radius: 80px 80px 80px 0px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
}

.homeLeftCard:after,
.homeRightCard:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-70deg, rgba(0, 199, 76, 0.603), rgba(0, 155, 134, 0.432));
  transition: opacity .35s ease;
  opacity: 0;
}

.homeLeftCard:hover::after,
.homeRightCard:hover::after { opacity: 1 }

.homeRightCard { border-radius: 80px 80px 0px 80px }

#homeGrid img {
  height: 130%;
  width: 130%;
  transform: translateY(-10px);
  position: absolute;
  top: 0;
  z-index: -1;
}

.homeLeftCard h1,
.homeLeftCard p,
.homeRightCard h1,
.homeRightCard p {
  position: relative;
  margin: 0;
  padding: 10px;
  top: 20%;
  left: 10%;
  width: 50%;
  color: whitesmoke;
  z-index: 100;
  animation: moveLeft ease 1s;
}


.homeRightCard h1,
.homeRightCard p {
  left: 45%;
  animation: moveRight 1s;
}

#headerText h1,
.homeLeftCard h1,
.homeRightCard h1 {
  color: rgb(120, 245, 187);
  z-index: 100;
  font-family: 'Jura', sans-serif;
}

#headerText h1 {
  font-size: 1.2rem;
}

/* ==================================================================== Button styles */
.buttonLeft,
.buttonRight {
  width: 100px;
  height: 50px;
  background: rgb(120, 245, 187);
  border-style: none;
  border: solid rgb(96, 202, 153) 5px;
  border-radius: 50px;
  color: rgb(4, 32, 18);
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 100;
  font-family: 'Montserrat', sans-serif;
  transition: ease .2s;
}

.buttonRight { left: 69% }

/* ==================================================================== paragraph styles */
p { font-family: 'Montserrat Alternates', sans-serif }

/* ==================================================================== Footer styles */
#toTopContainer {
  transform: translate(-50%, 75%);
  height: 150px;
  left: 50%;
  width: 90px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  padding: 10px;
  border-style: none;
  position: fixed;
  bottom: 0;
  border-radius: 200px;
  z-index: 3000;
  transition: all ease .2s;
  cursor: pointer;
}

#toTop {
  display: inline-block;
  transition: all .2s;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  width: 40px;
  border-radius: 50%;
  margin: auto;
  transform: translateY(-10px);
}

#toTopContainer:hover {
  color: white;
  background:    rgb(1, 116, 87);
}

/* ==================================================================== Project Card styles */

.projectCard {
  overflow: hidden;
  height: 190px;
  width: 90%;
  margin: auto;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.801);
  position: relative;
}

.projectCard img {
  width: 105%;
  height: auto;
  transform: translateX(-2%);
  /* centers the thumbnail very precisely */
}

.projectCardContainer h2 {
  margin: 0 0 10px 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.collapsedProject { display: none }

.attrContainer { margin-top: 20px }

.attributes {
  display: inline-block;
  border-radius: 2px;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 5px white;
}

.collapsedProjectImage {
  max-width: 90%;
  max-height: 30%;
  border-radius: 40px;
}

.expandedProject {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(30px);
  z-index: 5000;
}

.projectDesc {
  margin: auto;
  margin-top: 1em;
  height: 20vh;
  overflow: auto;
}

.buttonContainer {
  margin-top: 20px;
  padding: none;
}

.buttonContainer button {
  background-color: honeydew;
  position: relative;
  border-radius: 20px;
  width: 60px;
  height: 60px;
  border-style: none;
  transition: all ease .1s;
  margin: 5px;
  color: black;
}

.buttonContainer button:hover {
  transform: scale(1) translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.678) 
}

.buttonContainer button:active {
  transform: scale(.95) translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.678) 
}

.projectExpandBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid white 5px;
  background-color:  rgb(0, 82, 150);
  color: white;
  transform: translateY(-50%);
  font-size: 1em;
}

.demoBtn { background: linear-gradient(rgb(65, 255, 144), rgb(40, 156, 88)) }
.srcBtn { background: linear-gradient(rgb(41, 241, 255), rgb(20, 131, 139))}

/* ==================================================================== Gallery styles */

#radioBtns { 
  margin: 30px 0;
  text-align: center; 
}

.photoGrid {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr;
}

.photo {
  height: 200px;
  margin: 15px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.photo img {
  height: auto;
  width: 100%;
  position: absolute;
}

.expandedPhoto {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.795);
  backdrop-filter: blur(30px);
  z-index: 5000;
  text-align: center;
}

.expandedPhoto img { 
  max-width: 100%;
  max-height: 80vh;
  overflow: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


/* ==================================================================== Contact/Resume styles */

#contactGrid {
  width: 90%;
  height: 150px;
  line-height: 150px;
  margin: 30px auto;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
  'facebook github linkedin';
  grid-auto-columns: 33% 33% 33%;
}


#facebook {
  grid-area: facebook;
  background-color: #039be5;
}
#github {
  grid-area: github;
  background-color: #9b59b6;
}
#linkedin {
  grid-area: linkedin;
  background-color: #3498db;
}

.decoration {
  display: inline-block;
  font-size: 2em;
  margin: 10px 20px 0 0;
}


#resume, #email, #phoneNum {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  /* transform: translateX(-50%); */
}

/* ==================================================================== tablet */
@media (min-width: 768px) {

  #mobileNavIcon {
    right: 20px;
    top: 20px;
    width: 40px;
  }

  .titleName {
    font-size: .8em;
  }

  .titleName h4 {
    letter-spacing: 14.5px;
  }

  .homeLeftCard,
  .homeRightCard { 
    margin: 40px;
    animation: moveUp
  }

  #aboutHome {
    height: 35vh;
  }

  #aboutText {
    line-height: 1.9em;
  }

  .homeLeftCard h1,
  .homeLeftCard p {
    left: 10%;
    top: 40%;
  }

  .homeRightCard h1,
  .homeRightCard p {
    top: 40%;
  }

  
  #header img {
    width: 130%;
    transform: translate(-20%);
  }

  #headerText {
    top: 40%;
    left: 50%;
    width: 60%;
    transform: translate(-50%);
    font-size: .9em;
  }

  #headerText h1 {
    font-size: 1.8em;
  }

  .projectCardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .projectCard {
    height: 250px;
  }

  .expandedProject { left: 0 }

  .projectCard img {
    width: 130%;
    transform: translateX(-11%);
  }

  .collapsedProjectImage {
    max-width: 100%;
    max-height: 40%;
  }

  .projectDesc { width: 70% }

  .photoGrid {
    grid-template-columns: 1fr 1fr;
  }

  .photo {
    width: auto;
    max-height: 300px;
  }

  .photo img {
    width: 150%;
    min-height: 300px;
    height: auto;
  }
}

/* ==================================================================== desktop */
@media (min-width: 1024px) {
  
  #projectHomeText,
  #galleryHomeText,
  #contactHomeText {
    display: block;
    position: absolute;
  }

  .projectCard {
    height: 300px;
  }

  .projectCardContainer {
    grid-template-columns: 1fr 1fr;
  }

  .projectDesc {
    width: 50%;
  }

  #aboutHome {
    display: none;
  }

  #aboutHomeLG {
    grid-area: about;
    margin: 20px;
    border-radius: 50px;
    height: auto;
    display: block;
  }

  #aboutHomeLG img {
    width: auto;
    height: 110%;
  }

  #aboutText {
    top: 25%;
    font-size: .9em;
    line-height: 2.5;
  }

  #toTopContainer {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    transform-origin: 0 0;
    transform: rotate(45deg) translateX(35%) translateY(35%);
  } 

  #toTop { transform: rotate(-45deg) translateX(-37%) translateY(-70%) }

  #mobileNavIcon,
  #navIconBackground {
    display: none;
  }

  #mapIcn {
    display: block;
    top: 30px;
    left: 97%;
    animation: bounce ease 2.5s infinite;
  }

  .centered {
    position: absolute;
    z-index: 3000;
    top: 39vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .sticky {
    position: fixed;
    z-index: 3000;
    top: 1vh;
    left: 50%;
    transform: translateX(-50%);
  }

  #homeNav,
  #projectNav,
  #contactNav,
  #galleryNav,
  #Nav {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
  }

  #homeNav { top: 40%; left: 50%}
  #projectNav { top: 50%; left: 60% }
  #galleryNav { top: 50%; left: 40% }
  #contactNav { top: 60%; left: 50%}

  #navX {
    top: 20px;
    left: 97%;
  }

  #compassIcnBG {
    display: block;
    position: absolute;
    background-color: rgb(65, 255, 144);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  }

  #compass {
    width: 70px;
    transform-origin: 50%, 50%;
    transform: translateY(-13%);   
  }

  .homeLeftCard,
  .homeRightCard {
    border-radius: 50px;
    margin: 20px;
    height: 200px;
  }

  #projectHome { grid-area: project }
  #galleryHome { grid-area: gallery }
  #contactHome { grid-area: home; }

  #projectHome img,
  #galleryHome img,
  #contactHome img {
    height: auto;
    width: 100%;
  }

  #homeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'about project'
    'about gallery'
    'about contact';
  }

  .homeLeftCard h1,
  .homeRightCard h1 {
    padding: 10px;
    top: 50%;
    left: 30%;
    width: 45%;
    color:  rgb(120, 245, 187);
    transform: translate(-50%);
    animation: moveLeft;
  }

  .homeLeftCard p,
  .homeRightCard p {
    display: none;
  }

  #projectHomeLarge,
  #galleryHomeLarge,
  #contactHomeLarge {
    display: block;
  }

  .photoGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #radioBtns {
    text-align: right;
    margin-right: 5%;
  }

  #resume, #email, #phoneNum {
    transform: none;
    width: 30%;
    margin: 0;  
  }

  #contactSection {
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 60px;
  }
}

/* ==================================================================== 1440px */
@media (min-width: 1440px) {

  #header img {
    transform: translate(-10%, -10%);
  }

  #headerText {
    top: 45%;
  }

  .projectCardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .photo {
    height: 300px;
  }

}

/* ==================================================================== 4K */
@media (min-width: 2560px) {

  .titleName {
    height: 200px;
  }

  .titleName h2 {
    font-size: 4em;
  }
  
  .titleName h4 {
    font-size: 2em;
    letter-spacing: 45px;
  }

  #header {
    height: 50vh;
  }

  #headerText {
    font-size: 1.3em;
    left: 80%;
  }

  #aboutHomeLG img {
    width: 100%;
    height: auto;
  }

  #aboutHomeLG,
  #projectHome,
  #galleryHome,
  #contactHome {
    height: 45vh;
  }
  
  #aboutHomeLG h1,
  #projectHome h1,
  #galleryHome h1,
  #contactHome h1 {
    top: 45%;
  }

  #galleryHomeText,
  #contactHomeText,
  #projectHomeText {
    top: 45%;
  }

  #aboutHomeLG img,
  #projectHome img,
  #galleryHome img,
  #contactHome img {
    width: 200%;
    transform: translate(-20%);
  }

  #homeGrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'about project gallery contact';
    
  }

  .projectCard {
    height: 450px;
  }

  .projectDesc {
    margin-top: 50px;
  }

  #mapIcn {
    top: 2%;
    left: 97%;
  }

}

